.left-container{
	position: fixed;
	width: 400px;
	height: 100vh;
	background-color: grey;
}
body{
	margin: 0;
	padding: 0;
}
.photo{
	position: absolute;
	top: 100px;
	text-align: center;
}
.gambar{
	border-radius: 50%;
	width: 50%;
}
.button{
	width: 50%;
	background-color: white;
	border-radius: 20px;
	margin-bottom: 12px;
	font-weight: bold;
	font-size: 20px;
	padding: 10px;
}
.button:hover{
	background-color: black;
	color: white;
	transition: 1s;
}
.right-container{
	position: absolute;
	left: 400px;
}